$purple: #7a5ea3;
$grey: #464a55;
$blue: #6785c1;
$dark-grey: #2f333e;
$white: #ffffff;


.toolbar {
    &__container {
        height: 100vh;
    }
}

.center-object {
    width: 100%;
    margin: 50% auto;
    text-align: center;
}

mat-sidenav {
    width: 85%;
    background: $grey;
    mat-list,
    mat-list-item,
    .mat-subheader,
    mat-icon
    {
        color: $white;
    }
}

.mat-toolbar.mat-primary {
    background: $grey;
    height: 4rem;
    justify-content: space-between;
}