<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <section class="sidenav-header">
      
      <button mat-icon-button aria-label="Menu" (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
      <h2>Navegue por todo o conteúdo do curso</h2>

    </section>

    <mat-list>
      <ng-container *ngFor="let item of data">
        <p>{{item?.module_id}}</p>
        <div mat-subheader>{{ item?.title }}</div>
        <mat-list-item
          *ngFor="let subitem of item?.class"
          (click)="setVideoUrl(subitem?.url_youtube); sidenav.toggle()"
        >
          <mat-icon mat-list-icon>play_circle_outline</mat-icon>
          <div mat-line>{{ subitem?.title }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="toolbar__container">
      <mat-toolbar color="primary">
        <button mat-icon-button aria-label="Menu" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
      <app-dashboard [videoUrl]="currentUrlVideo"></app-dashboard>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
