<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <section class="sidenav-header">
      <button mat-icon-button aria-label="Menu" (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
      <h2>Navegue por todo o conteúdo do curso</h2>
    </section>

    <mat-list>
      <ng-container *ngFor="let module of data">
        <p>{{ module?.module_id }}</p>
        <div mat-subheader>{{ module?.title }}</div>
        <mat-list-item
          *ngFor="let subitem of module?.class"
          (click)="setClass(subitem, module); sidenav.toggle()"
        >
          <mat-icon mat-list-icon>play_circle_outline</mat-icon>
          <div mat-line>{{ subitem?.title }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="toolbar__container">
      <mat-toolbar color="primary">
        <button mat-icon-button aria-label="Menu" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>
        <img src="assets/img/everis_fundaciao_logo_br.svg" alt="" />
      </mat-toolbar>
      <app-dashboard
        *ngIf="!loading"
        [class]="currentClass"
        (changeClass)="getClassChange($event)"
        [module]="currentModule"
        [blockNext]="blockNext"
        [blockPrev]="blockPrev"
      ></app-dashboard>
      <mat-spinner *ngIf="loading" class="center-object"></mat-spinner>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
